16) Write a Python program to generate the Fibonacci series up to n terms.

In [61]:
n=int(input("Enter number of terms: "))
a=0
b=1
for i in range(1,n+1,1):
  print(a,end=" ")
  sum=a+b
  a=b
  b=sum

Enter number of terms: 10
0 1 1 2 3 5 8 13 21 34

17) Write a Python program to check whether a number is palindrome or not.

In [57]:
n=12321
save=n
rev=0
while n!=0:
  e=n%10
  n=n//10
  rev=rev*10
  rev=rev+e
print(rev)

if rev==save:
  print("Palindrome")
else:
  print("Not a Palindrome")

12321
Palindrome

18)Write a Python program to print prime numbers from 1 to 100.

In [53]:
n=100
for i in range(1,n+1,1):
  count=0
  for j in range(1,i+1,1):
    if i%j==0:
      count+=1
  if count==2:
    print(j,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

19)Write a Python program for below patterns.

In [66]:
n=5
for i in range(1,n+1,1):
  for j in range(1,i+1,1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [65]:
n=5
for i in range(1,n+1,1):
  a=1
  for j in range(1,i+1,1):
    print(a,end=" ")
    a+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [39]:
n = 5
for i in range(1, n + 1):
    a = 69-(i-1)
    for j in range(1,n-i+ 2):
        print(chr(a),end=" ")
        a-=1
    print()

E D C B A
D C B A
C B A
B A
A

20)Write a Python program to print all even numbers between 1 and 100.

In [62]:
n=100
for i in range(1,n+1,1):
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100