
11)Write a program to find the sum of digits of a given number.

In [ ]:
num=1234
sum=0
while num!=0:
  e=num%10
  num=num//10
  sum+=e
print(sum)

15

12)Write a program to find the factorial of a number using a loop.

In [ ]:
fact=1
num=5
for i in range(1,num+1,1):
  fact=fact*i
print(fact)

120

13)Write a program to reverse the number.

In [ ]:
num=12345
rev=0
while num!=0:
  e=num%10
  num=num//10
  rev=rev*10
  rev=rev+e
print(rev)

54321

14)Patterns

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,n+1,1):
   print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(1,n+1,1):
  for j in range(1,n+1,1):
     print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
n=5
a=65
for i in range(1,n+1,1):
  for j in range(1,n+1,1):
     print(chr(a),end=" ")
  a+=1
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

15)Write a Python program to check whether a number is an Armstrong number or not.

In [1]:
num=int(input())
save=num
save1=num
count=0
sum=0
while num!=0:
 num=num//10
 count+=1
while save!=0:
  e=save%10
  save=save//10
  a=e**count
  sum+=a
if sum==save1:
 print("Armstrong Number")
else:
 print("Not an Armstrong Number")

153
Armstrong Number